body {
	font-weight: 300;
	line-height: 1.42857143;
	padding-top: 6em;
	padding-bottom: 120px;
	background-color: #EEEEEE;
}

.navbar-collapse {
	max-height: 400px !important;
}

.form-bg {
	background-color: #fff;
	border: 15px solid;
	border-radius: 0;
	border-color: #fff;
	margin-top: 50px;
}

input.pristine {
	border-color: #fff;
}

input.ng-invalid.ng-dirty {
	border-color: #C9302C;
}

input.ng-valid {
	border-color: #449D44;
}

textarea {
	resize: none;
}

.add-space {
	margin-top: 15px;
	margin-bottom: 15px;
}

.btn:focus {
  outline: none;
}

#nav {
	opacity: 0.85;
}

#footer {
	opacity: 0.85;
}

canvas {
  width: 100%;
  height: auto;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.spinner-hide .loading {
	visibility: visible;
}

.spinner-show .loading {
	visibility: hidden;
}


.ng-enter, 
.ng-leave
{ 
    -webkit-transition: 475ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 475ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 475ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 475ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 475ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.ng-enter.ng-enter-active, 
.ng-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
 
.ng-leave.ng-leave-active,
.ng-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}