.box {
	padding: 6px;
	width: 60px;
	height: 40px;
	border-width: 1px;
	border-color: #ccc;
	border-style: solid;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}


.imgLine {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.mainImgLine {
    position: relative;
    margin: 0 auto;
    width:  400px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}