<section class="row">
	<div class="col-md-10 col-md-offset-1">
		<img src="/public/modules/home/img/about.jpg" class="img-responsive">
		<h1 class="text-center" style="color: #CEDB62;">Moheera</h1>
		<h2 class="text-center" style="color: ##5D5D5D;">Sell & buy with ease!</h2>
		<p style="font-size: 1.5em;" class="text-muted"><i style="font-weight: bold;color: #CEDB62;">Moheera</i>'s vision is to create a productive community by removing all obstacles facing the traditional commerce in order to create success stories that motivates the society, Moheera is the only service that aims to help you create a competing brand that can compete locally and expand internationally by removing all obstacles in order to save you the time and effort for you to concentrate on developing your product and help you market it professionally to expand your business and reach out to new markets. Moheera connects you to your potential customers and helps you stay connected!</p>
	</div>
</section>