<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<img src="{{categoryBanner}}" class="img-responsive image-center">
		<h4 ng-hide="result.length" class="alert alert-danger">Category is empty.</h4>
		<h4 ng-hide="result.length" class="alert alert-success">
			Be the first to add a product to this category!
			<span class="glyphicon glyphicon-heart" style="font-size:20px;color: red;" aria-hidden="true"></span>
		</h4>

		<div class="row" ng-show="result.length">
			<div class="col-md-12">
				<select ng-model="country" class="form-control">
					<option value="">-- Show products from all countries --</option>
					<option ng-repeat="name in result | unique" value="{{name}}">{{name}}</option>
				</select>
			</div>
		</div>
	
		<div deckgrid class="deckgrid" source="result" cardTemplate="public/modules/product/view/card.template.product.view.html"></div>
</div>