<div class="row">
	<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
		<canvas  id="lab" name="canvas" width="500" height="500"></canvas>
		<div id="imageContainer"></div>



		<input style-image-config-directive ng-model="image" type="file" accept="image/*" id="image" name="image" class="form-control">
		<div class="row">
			<div class="col-md-8 add-space">
				<button class="btn btn-md btn-default" onclick="this.blur()" ng-click="imageFilter('vintage')">Vintage</button>
				<button class="btn btn-md btn-default" onclick="this.blur()" ng-click="imageFilter('sunRise')">Sun Rise</button>
				<button class="btn btn-md btn-default" onclick="this.blur()" ng-click="imageFilter('love')">Love</button>
				<button class="btn btn-md btn-default" onclick="this.blur()" ng-click="imageFilter('oldBoot')">Old Boot</button>	
			</div>
			<div class="col-md-4 add-space">
				<button class="btn btn-md btn-primary" onclick="this.blur()" ng-click="save()">Save</button>
				<button class="btn btn-md btn-info" onclick="this.blur()" ng-click="reset()">Reset</button>	
			</div>
		</div>

		<div data-ui-view></div>
	</div>
</div>