<div>
	<div class="row">
		<div class="col-md-offset-3 col-md-6 col-xs-6 col-xs-offset-3">
			<a ng-href="/{{userLink(item.user[0].name)}}">
				<img src="{{logo(item.user[0].logo)}}" class="img-responsive text-center">
			</a>
		</div>
	</div>
	<div class="row">
		<a ng-href="/{{userProductLink(item.user[0].name)}}/{{item.name}}">
			<img spinner-on-load-config-directive ng-src="{{'public/uploads/' + item.image1}}" class="img-responsive image-center">
			<span class="loading"><img class="img-responsive image-center" src="public/modules/config/img/placeholder.GIF"/></span>
		</a>
	</div>
	<div class="row">
		<div class="col-md-8  col-sm-8 col-xs-8">
			<h5><a ng-href="/{{userProductLink(item.user[0].name)}}/{{item.name}}">{{item.name | excerpt:10}}</a></h5>
		</div>
		<div class="col-md-3 col-md-offset-1  col-sm-offset-1 col-xs-offset-1 col-sm-3 col-xs-3">
			<img src="public/modules/config/img/flags/{{item.user[0].country[0].code.toLowerCase()}}.png" class="img-responsive">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="height: 130px;">
			<p>{{item.desc | excerpt:90}}</p>
		</div>
	</div>
	<div class="row">
		<div class="label label-success pull-left"><i class="glyphicon glyphicon-tag"></i>AED {{item.price}}</div>
		<div class="pull-right" heart-icon-product-directive="item">
	</div>
	<div class="clearfix"></div>
</div>