<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
		<div class="row" style="background: #fff;">
			<img ng-src="{{banner()}}" class="img-responsive text-center">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="{{userLink(userInfo.name)}}">
					<img class="img-responsive" style="margin-top: -30%;" src="{{logo()}}">
				</a>
			</div>
			<div class="col-md-4 hidden-sm hidden-xs" style="margin-bottom:2%;">
				<h2 class="text-center">{{userInfo.name}}</h2>
			</div>
		</div>
		<div class="row">

			<div class="col-md-12" style="background-color:#fff;padding:5%;word-wrap: break-word;">
				<span>{{userInfo.pageDesc}}</span>
			</div>

			<div class="col-md-12">
				<div sidebar-user-directive="userProducts"></div><!-- End Sidebar -->
			</div>

			<div class="col-md-12">
				<div data-ui-view>
					<!-- Wrapp the 'default view' in a div to avoid error as elements if were not inclused in one parent element it causes errors -->
					<div class="row">
						<div deckgrid class="deckgrid" source="userProducts" cardTemplate="public/modules/product/view/card.template.product.view.html"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>