<div class="row"  style="background-color:#fff;">
	<div class="col-md-12">
		<h4 ng-show="error" class="alert alert-danger text-center">{{error.toUpperCase()}}</h4>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<div class="col-md-12">
			<a target="_self" href="http://www.moheera.com/auth/facebook">
				<img class="img-responsive profile-center" src="/public/modules/auth/img/buttons/facebook.png">
			</a>
		</div>
		<div class="col-md-12 text-center">
			<h5>{{facebookConnect}}</h5>
		</div>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<div class="col-md-12">
			<a target="_self" href="http://www.moheera.com/auth/instagram">
				<img class="img-responsive profile-center" src="/public/modules/auth/img/buttons/instagram.png">
			</a>
		</div>
		<div class="col-md-12 text-center">
			<h5>{{instagramConnect}}</h5>
		</div>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<div class="col-md-12">
			<a target="_self" href="http://www.moheera.com/auth/google">
				<img class="img-responsive profile-center" src="/public/modules/auth/img/buttons/google.png">
			</a>	
		</div>
		<div class="col-md-12 text-center">
			<h5>{{googleConnect}}</h5>
		</div>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<div class="col-md-12">
			<a target="_self" href="http://www.moheera.com/auth/twitter">
				<img class="img-responsive profile-center" src="/public/modules/auth/img/buttons/twitter.png">
			</a>			
		</div>
		<div class="col-md-12 text-center">
			<h5>{{twitterConnect}}</h5>
		</div>
	</div>
</div>