<section>
	<div class="row">
		<div class="col-md-6">
			<div class="alert" style="background-color: #eefcb0;border: solid 1px #d5f934;">
				<a ui-sref="admin.users"><h1 class="glyphicon glyphicon-comment" aria-hidden="true"> {{commentsCount}}</h1></a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="alert alert-danger">
				<a ui-sref="admin.users"><h1 class="glyphicon glyphicon-heart" aria-hidden="true"> {{heartsCount}}</h1></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4>Users</h4>
			<p class="text-muted">Users , Products and Orders</p>
			<canvas id="polar-area" class="chart chart-polar-area" data="polarData" labels="polarLabels" legend="true"></canvas>
  		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="alert alert-info">
				<a ui-sref="admin.users"><h1 class="glyphicon glyphicon-user" aria-hidden="true"> {{usersCount}}</h1></a>
			</div>			
		</div>
		<div class="col-md-4">
			<div class="alert alert-success">
				<a ui-sref="admin.products"><h1 class="glyphicon glyphicon-picture" aria-hidden="true"> {{productsCount}}</h1></a>
			</div>			
		</div>
		<div class="col-md-4">
			<div class="alert" style="background-color: #f0c0f7;border: solid 1px #f1a6fc;">
				<a ui-sref="admin.orders"><h1 class="glyphicon glyphicon-inbox" aria-hidden="true"> {{ordersCount}}</h1></a>
			</div>			
		</div>
	</div>
	<hr class="hr" />
	<div line-chart-admin-directive></div>
</section>